@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background: #f7f7f7;
}

/* @media (min-width: 1024px) {
    a {
        transition-property: color, bacground-color, border-color, scale, filter;
        transition-duration: 0.2s;
    }
    a:hover {
        filter: saturate(10%);
        scale: 1.02;
    }
} */
