@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
    max-width: 1330px;
    margin: 0 auto;
}

.text-main {
    color: #2a3551;
}
.text-p {
    color: rgb(112, 112, 112);
}
.bg-main {
    background-color: #2a3551;
}
.text-second {
    color: #2563eb;
}
.bg-second {
    background-color: #2563eb;
}

.btn-main {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #3b82f6;
    background: linear-gradient(to bottom, #60a5fa, #2563eb);
    box-shadow: 0 4px 14px 0 rgba(59, 130, 246, 0.5),
        0 1px 3px 0 rgba(59, 130, 246, 0.3);
    color: #ffffff;
    padding: 0.5rem 0.75rem;
    border-radius: 0.375rem;
    position: relative;
    font-weight: 600;
    letter-spacing: 0.025em;
    font-size: 14px;
}

.slide-bottom {
    animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) alternate
        both;
}

@keyframes slide-bottom {
    0% {
        transform: translateY(-200px);
    }
    100% {
        transform: translateY(0px);
    }
}

.flex-c {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-s {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.flex-e {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.flex-b {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-a {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
