.modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    color: #000000;
    font-size: 24px;
    cursor: pointer;
    z-index: 99999;
}
.zoom-button {
    position: absolute;
    top: 10px;
    right: 50px;
    background-color: transparent;
    border: none;
    color: #000000;
    font-size: 24px;
    cursor: pointer;
    z-index: 99999;
}
.unzoom-button {
    position: absolute;
    top: 10px;
    right: 90px;
    background-color: transparent;
    border: none;
    color: #000000;
    font-size: 24px;
    cursor: pointer;
    z-index: 99999;
}
.btn-download {
    position: absolute;
    top: 10px;
    right: 130px;
    background-color: transparent;
    border: none;
    color: #000000;
    font-size: 24px;
    cursor: pointer;
    z-index: 99999;
}

.modal-image {
    max-width: 93%;
    max-height: 93%;
    scale: 1;
    object-fit: contain;
}

.prev-button,
.next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: rgb(33, 103, 255);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    z-index: 99999;
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}