#nprogress {
    overflow: hidden !important;
    z-index: 10000;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: hsla(0, 0%, 0%, 0.08);
    backdrop-filter: blur(9px);
}

#nprogress .bar {
    background: #e70c0c !important;
    height: 18px !important;
}
