#descHtml li {
    margin-left: 30px;
    list-style: disc;
}
#descHtml div,
#descHtml p {
    margin: 1rem 0;
}
#descHtml img {
    margin: 1.2rem 0;
    border-radius: 8px;
    height: 300px;
    width: 100%;
    object-fit: cover;
}
#descHtml h2,
#descHtml h2 strong {
    margin: 4.3rem 0 1.4rem;
    font-size: 1.6rem;
    font-weight: 700;
    color: #0a1265;
}

#descHtml a {
    @apply text-blue-700 underline font-medium;
}
